# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Exclude override files as they are usually local-only
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore generated plans
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc
